.main
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    padding: 100px 50px

    h2  
        display: flex
        flex-direction: column
        align-items: center
        font-family: 'Cardo'
        font-style: normal
        font-weight: 400
        font-size: 42px
        line-height: 50px
        text-align: center
        text-transform: capitalize
        color: #1B3764
        padding-bottom: 50px
        &::after
            content: ''
            border-bottom: 3px solid #FFCA42
            width: 50px
            height: 30px
    .content
        display: flex
        justify-content: space-between
        position: relative

        .learn
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(2, 1fr)
            padding-top: 30px
            padding-right: 30px

        .authorImg
            z-index: 1

        .borderbox
            width: 545px
            height: 640px
            border: 10px solid #FFCA42
            position: absolute
            box-sizing: border-box
            top: 60px
            left: 680px
            z-index: -1
