.btn
    width: 30px
    height: 30px
    background-color: white
    border: none
    margin: 3px
    display: flex
    justify-content: center
<<<<<<< HEAD
    align-items: center
    cursor: pointer
=======
    align-items: center
>>>>>>> b22bf7bd30fb16b1bb229e602a085be7e57203f1
